<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-6">
        <h1>Lists</h1>
        <div>
            <a href="/lists/new">Add List</a>
        </div>
        <ul>
            <% for (let list of lists) {%>
            <li><a href="/lists/<%= list._id %>"><%= list.listTitle %></a></li>

            <div class="card mb-3">
                <div class="row g-0">
                  <div class="col-md-4">
                      <img src="<%-tmdb.images.base_url%><%-tmdb.images.poster_sizes[2]%>/<%-list.listOfMovies[0].poster_path%>"
                        class="img-fluid rounded-start" alt="<%=list.title%> poster">
                    </a>
                  </div>
                  <div class="col-md-8 d-flex flex-column" >
                    <div class="card-body">
                        <a href="/lists/<%= list._id %>">
                        <h5 class="card-title"><%= list.listTitle %></h5>
                      </a>
                      <p class="card-text"><%= listDescription %></p>
                      <p class="card-text"><small class="text-muted">Created by <%= list.listAuthor.username %></small></p>
                    </div>
                  </div>
                </div>
              </div>






            <% }%>
        </ul>
    </div>
</div>