<% layout('layouts/boilerplate') %>
<div class="row">
  <div class="mb-3">
    <h1><%=list.listTitle%></h1>
    <p><%=list.listDescription%></p>
    <p>Created by <%=list.listAuthor.username%></p>
    <% if (currentUser && list.listAuthor.equals(currentUser._id)) { %>
    <div class="card-body">
      <a href="/lists/<%= list._id %>/edit" class="card-link btn btn-info">Edit</a>
      <form class="d-inline" action="/lists/<%=list._id%>?_method=DELETE" method="POST">
        <button class="btn btn-danger">Delete</button>
      </form>
    </div>
    <% } %>
  </div>


  <% if(list.listOfMovies.length > 0) { %>
  <% for(let movie of list.listOfMovies) { %>
  <div>
    <div class="card mb-3">
      <div class="row g-0">
        <div class="col-md-4">
          <img src="<%-tmdb.images.base_url%><%-tmdb.images.poster_sizes[1]%>/<%-movie.poster_path%>" class="img-fluid rounded-start" alt="<%=movie.title%> poster">
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= movie.title %></h5>
            <p class="card-text"><%= movie.overview %></p>
            <p class="card-text"><small class="text-muted">Submitted by <%= movie.movieAuthor.username %></small></p>
          </div>
          <% if (currentUser && list.listAuthor.equals(currentUser._id)) { %>
          <div class="card-footer text-muted">
            <form action="/lists/<%=list._id%>/movies/<%=movie._id%>?_method=DELETE" method="POST">
              <button class="btn btn-sm btn-danger">Delete</button>
            </form>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
  <% } %>
  <% } %>

  <!-- figure out get and post for search and add -->
  <div class="col-6"> 
    <% if(currentUser) { %>
    <h1>Add Movies</h1>
    <form action="/lists/<%= list._id %>/movies" method="POST">
      <input type="text" name="title" placeholder="Search titles" id="title">
      <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
    <% } %>
  </div>
</div>