<% layout('layouts/boilerplate') %>
    <h1><%= list.title %></h1>
    <% if(list.movieList.length > 0) { %>
        <% for(let movie of list.movieList) { %>
        <div class="card mb-3 ">
          <div class="card-body">
            <h5 class="card-title"><%= movie.title %></h5>
            <h6 class="card-subtitle mb-2 text-muted">Submitted by <%= movie.author.username %></h6>
            <p class="card-text">Description: <%= movie.description %></p>
            <% if (currentUser && movie.author.equals(currentUser._id)) { %>
              <form action="/list/<%=list._id%>/movies/<%=movie._id%>?_method=DELETE" method="POST">
                <button class="btn btn-sm btn-danger">Delete</button>
              </form>
            <% } %>
          </div>
        </div>
        <% } %>
        <% } %>

    <div class="col-6">
        <% if(currentUser) { %>
        <h2>Add a Movie</h2>
        <form class="mb-3 needs-validation" action="/lists/<%= list._id %>/movie" method="POST" novalidate>
          <% console.log(list._id) %>
          <div class="mb-3">
            <label for="title">Movie Title</label>
            <input type="text" name="movie[title]" id="title">
          </div>
          <div class="mb-3">
            <label for="description">Description</label>
            <input type="text" name="movie[description]" id="description" required></textarea>
          </div>
          <button class="btn btn-success">Add Movie</button>
        </form>
        <% } %>
        
      </div>
    </div>