<% layout('layouts/boilerplate') %>

<div class="mb-3">
    <a href="/lists/<%=list.id%>" class="card-link btn btn-danger">Cancel</a>
    <form action="/lists/<%=list.id%>/movies?_method=PUT" method="POST">
        <% if(movieList && movieList.length > 0) { %>
        <h1>Search results for "<%= searchTitle %>" </h1>
        <p>Select movies to add to the <%= list.listTitle %> list and hit "submit" at the bottom of the page.</p>
        <% for(let movie of movieList) { %>

        <div class="card mb-3">
            <div class="row g-0">
                <div class="col-md-4">
                    <% if (movie.poster_path) {%>
                    <a href="https://www.themoviedb.org/movie/<%=movie.id%>-<%=movie.title%>?language=en-US"
                        target="_blank" rel="noopener noreferrer">
                        <img src="<%-tmdb.images.base_url%><%-tmdb.images.poster_sizes[2]%>/<%-movie.poster_path%>"
                            class="img-fluid rounded-start" alt="<%=movie.title%> poster">
                    </a>
                    <% } else { %>
                    <p>No Poster</p>
                    <% } %>

                </div>
                <div class="col-md-8 d-flex flex-column">
                    <div class="card-body">
                        <a href="https://www.themoviedb.org/movie/<%=movie.id%>-<%=movie.title%>?language=en-US"
                            target="_blank" rel="noopener noreferrer">
                            <h5 class="card-title"><%= movie.title %></h5>
                        </a>
                        <p class="card-text"><%= movie.overview %></p>
                    </div>

                    <div class="card-footer mt-auto d-flex flex-column">
                        <div class="align-self-end">
                            <%if (list.listOfMovies.some(e => e.id.valueOf() === movie.id.valueOf())) { %>
                            Already in list: <%= list.listTitle %>
                            <%} else { %>
                            <input class="form-check-input" type="checkbox" name="movieId[]" value="<%= movie.id %>"
                                id="addMovieCheckbox">
                            <label class="form-check-label" for="addMovieCheckBox">Add Movie</label>
                            <% } %>

                        </div>
                    </div>
                </div>
            </div>
        </div>

        <% } %>
        <% } else {%>
        <h1>No results for <% searchTitle %> </h1>
        <p>Please try your search again.</p>
        <% } %>
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-success btn-lg">Submit</button>
        </div>
    </form>
</div>